#current-time{
font-weight: bold;
font-size:36px;
}

#time-header{
  padding-top: 20px;
  }

  td{
    align-content: center;
    text-align: center;
  }

  th{
    align-content: center;
    text-align: center;
    font-weight: bold;
  }